.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
    background-color:azure;
}

@media screen and (max-width: 991px) {
    .main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        background-color:azure;
    }
}

@media screen and (max-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: auto;
        background-color:azure;
    }
}