.blog{
    margin-top: 50px;
}

.headline{
    margin-bottom: 30px;
}

.question{
    background-color: #E7F1FF;
    padding: 10px;
    border-radius: 10px;
}

.answer{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

/* Uses of useEffect except data loading with API:
Differences between props and state:
How does react work? */