.main-app{
  padding: 0 140px;
  background-color: azure;
}

@media screen and (max-width: 991px) {
  .main-app{
    padding: 0 70px;
  }
}

@media screen and (max-width: 767px) {
  .main-app{
    padding: 0 40px;
  }
}